In [179]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [180]:
df=pd.read_csv('dirty_cafe_sales.csv')

In [181]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [182]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [184]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [185]:
df.drop('Transaction ID',axis=1,inplace=True)

In [186]:
df.dtypes

Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [187]:
numeric_cols=['Quantity','Price Per Unit']
date_col=['Transaction Date']
for col in df.columns:
    if col in numeric_cols:
        df[col]=pd.to_numeric(df[col],errors='coerce')
    elif col in date_col:
        df[col]=pd.to_datetime(df[col],errors='coerce')

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              9667 non-null   object
 1   Quantity          9521 non-null   float64
 2   Price Per Unit    9467 non-null   float64
 3   Total Spent       9827 non-null   object
 4   Payment Method    7421 non-null   object
 5   Location          6735 non-null   object
 6   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 547.0+ KB

In [189]:
categorical_cols=['Item','Payment Method','Location']
df[categorical_cols]=df[categorical_cols].fillna("Unknown")

In [190]:
for col in categorical_cols:
    df[col]=df[col].astype('category')

In [191]:
for col in categorical_cols:
    print(df[col].value_counts())
    print("-------------------------------------------------------")

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
Unknown      333
ERROR        292
Name: count, dtype: int64
-------------------------------------------------------
Payment Method
Unknown           2579
Digital Wallet    2291
Credit Card       2273
Cash              2258
ERROR              306
UNKNOWN            293
Name: count, dtype: int64
-------------------------------------------------------
Location
Unknown     3265
Takeaway    3022
In-store    3017
ERROR        358
UNKNOWN      338
Name: count, dtype: int64
-------------------------------------------------------

In [192]:
df[numeric_cols]=df[numeric_cols].fillna(df[numeric_cols].mean())

In [193]:
df['Price Per Unit']=df.groupby('Item')['Price Per Unit'].transform(lambda x:x.fillna(x.mean()))

In [194]:
df=df[df['Price Per Unit'].notna()]

In [195]:
df['Total Spent']=df['Quantity'] * df['Price Per Unit']

In [196]:
df.head(10)

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,Smoothie,5.0,4.0,20.0,Credit Card,Unknown,2023-03-31
6,UNKNOWN,3.0,3.0,9.0,ERROR,Takeaway,2023-10-06
7,Sandwich,4.0,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,Unknown,5.0,3.0,15.0,Unknown,Takeaway,2023-07-28
9,Sandwich,5.0,4.0,20.0,Unknown,In-store,2023-12-31

In [197]:
df.isnull().sum()

Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    460
dtype: int64

In [198]:
df['Transaction Date'].fillna("UNKNOWN",inplace=True)

In [199]:
df.isnull().sum()

Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [200]:
unique_list=list(df['Item'].unique())
print(unique_list)

['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN', 'Sandwich', 'Unknown', 'ERROR', 'Juice', 'Tea']

In [201]:
df=df[df['Item']!='UNKNOWN']
df=df[df['Item']!='ERROR']
unique_list=list(df['Item'].unique())
print(unique_list)

['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Sandwich', 'Unknown', 'Juice', 'Tea']

In [202]:
df.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08 00:00:00
1,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16 00:00:00
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19 00:00:00
3,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27 00:00:00
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11 00:00:00

In [203]:
unique_payment_values=list(df['Payment Method'].unique())
print(unique_payment_values)

['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'Unknown', 'ERROR']

In [204]:
df=df[df['Payment Method']!='UNKNOWN']
df=df[df['Payment Method']!='ERROR']
df=df[df['Payment Method']!='Unknown']
unique_payment_values=list(df['Payment Method'].unique())
print(unique_payment_values)

['Credit Card', 'Cash', 'Digital Wallet']

In [205]:
df['Transaction Date']=pd.to_datetime(df['Transaction Date'],errors='coerce')
df.dropna(subset='Transaction Date',inplace=True)
df['Transaction Year']=df.loc[:,'Transaction Date'].dt.year
df['Transaction Month']=df.loc[:,'Transaction Date'].dt.month
df['Transaction Day']=df.loc[:,'Transaction Date'].dt.day

In [206]:
df.isnull().sum()

Item                 0
Quantity             0
Price Per Unit       0
Total Spent          0
Payment Method       0
Location             0
Transaction Date     0
Transaction Year     0
Transaction Month    0
Transaction Day      0
dtype: int64

In [207]:
df.head(10)

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Transaction Year,Transaction Month,Transaction Day
0,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,2023,9,8
1,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,2023,5,16
2,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19,2023,7,19
4,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,2023,6,11
5,Smoothie,5.0,4.0,20.0,Credit Card,Unknown,2023-03-31,2023,3,31
7,Sandwich,4.0,4.0,16.0,Cash,UNKNOWN,2023-10-28,2023,10,28
10,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07,2023,11,7
12,Sandwich,2.0,4.0,8.0,Cash,In-store,2023-05-03,2023,5,3
15,Salad,3.0,5.0,15.0,Credit Card,In-store,2023-11-15,2023,11,15
17,Juice,2.0,3.0,6.0,Cash,In-store,2023-02-24,2023,2,24

In [208]:
unique_locations_list=list(df['Location'].unique())
print(unique_locations_list)

['Takeaway', 'In-store', 'Unknown', 'UNKNOWN', 'ERROR']

In [209]:
df=df[df['Location']!='Unknown']
df=df[df['Location']!='UNKNOWN']
df=df[df['Location']!='ERROR']
unique_locations_list=list(df['Location'].unique())
print(unique_locations_list)

['Takeaway', 'In-store']

In [210]:
df['Item'].value_counts()

Item
Juice       481
Salad       481
Cookie      465
Sandwich    461
Cake        442
Tea         429
Coffee      428
Smoothie    393
Unknown     143
ERROR         0
UNKNOWN       0
Name: count, dtype: int64

In [211]:
df=df[df['Item']!='Unknown']
df=df[df['Item']!='UNKNOWN']
df=df[df['Item']!='ERROR']
df['Item'].value_counts()

Item
Juice       481
Salad       481
Cookie      465
Sandwich    461
Cake        442
Tea         429
Coffee      428
Smoothie    393
ERROR         0
UNKNOWN       0
Unknown       0
Name: count, dtype: int64